# Virtual environment
venv/

# Dataset
datasets/

# VS Code
.vscode/

# Training outputs
outputs/
checkpoints/
logs/
results/

# Python
__pycache__/
.ipynb_checkpoints/
*.pyc

# Models
*.pth
*.pt

# macOS
.DS_Store